@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --primary-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

nav {
    width: 100vw;
    height: 60px;
    background-color: darkslategray;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    height: 60px;
    width: 80vw;
    min-width: 800px;
    margin: 0 auto;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 16px;
    font-size: 0.8em;
}

.container {
    width: 42%;
    min-width: 500px;
    margin: 36px auto;
    text-align: center;
}

h1.error-h {
    font-size: 3em;
    margin-bottom: 24px;
}

p {
    font-size: 1.2em;
}

h1.agenda-h {
    font-size: 2em;
    margin-bottom: 24px;
    font-weight: normal;
}


.success-message {
    width: 95%;
    background-color: #B4F8C8;
    border: 1px solid #6ad189;
    margin: 24px auto;
    border-radius: 8px;
    padding: 16px 24px;
    text-align: left;
    color: #478C5C;
}

.error-message {
    width: 95%;
    background-color: #F1CED4;
    border: 1px solid #f5b4bf;
    margin: 24px auto;
    border-radius: 8px;
    padding: 16px 24px;
    text-align: left;
    color: #A60027;
}

.table-contacts table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    border-bottom: 1px solid lightgrey;
}

.table-contacts table tr {
    width: 100%;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
}

.table-contacts table tr td {
    padding: 16px 8px;
}

.table-contacts table tr td.name,
.table-contacts table tr td.lastname {
    width: 88px;
    max-width: 88px;
    min-width: 88px;
}

.table-contacts table tr td.phone {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
}

.table-contacts table tr td.email {
    width: 180px;
    max-width: 180px;
    min-width: 180px;
}
/* *************** LOGIN PAGE *********************** */

.content-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    margin-top: 36px;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 8px;
}

.signin, .signup {
    text-align: start;
    padding: 0px 16px;
}

.content-login .fields,
.contato-create .fields {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 12px;
}

.contato-create .fields {
    margin-bottom: 36px;
}

.contato-create {
    padding: 16px;
    margin-top: 36px;
}

.content-login .fields label,
.contato-create .fields label {
    font-size: 1em;
}

.content-login .fields input{
    width: 90%;
    padding: 6px 16px;
    border-radius: 8px;
}

.contato-create .fields input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    margin-top: 8px;
    font-size: 1.1em;
}

.content-login button,
.contato-create button{
    padding: 8px 16px;
    font-size: 1em;
    color: #fff;
    background-color: #6200EE;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    min-width: 133px;
}

.content-login button:hover {
    background-color: #3700B3;
    transition: 200ms;
}

.content-login p {
    font-size: 1em;
    margin: 8px 0;
}

/* .contato-create .buttons-fields {
    display: flex;
    justify-content: space-between;
} */

.table-contacts .edit-link {
    text-decoration: none;
    color: #6200EE;
}

.table-contacts .delete-link {
    text-decoration: none;
    color: #A60027;
}

.error-input-text {
    font-size: 0.7em;
    color: #A60027;
}