@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --primary-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    background-color: var(--primary-color);
    font-size: 1.1em;
    line-height: 1.5em;
}

.container {
    max-width: 720px;
    margin: 50px auto;
    padding: 24px;
    background-color: aliceblue;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column
}
form label {
    display: block;
    padding: 8px 0px;
}

form input {
    display: block;
    margin-bottom: 8px;
    padding: 8px 16px;
    border: none;
    font-size: 24px;
}

form input:focus {
    border: 1px solid var(--primary-color);
}

form button {
    padding: 8px 16px;
    border: none;
    background-color: indianred;
    color: white;
    margin-top: 24px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
}

table {
    width: 100%;
    margin: 24px 0;
}

table th {
    text-align: start;
}

.resultado {
    padding: 8px 0;
    text-align: center;
    margin-top: 16px;
    border-radius: 8px;
    font-size: 24px;
}
.invalido {
    background-color: crimson;
    color: whitesmoke;
}

.valido {
    background-color: lightgreen;
}