<nav>
    <div class="menu">
        <a href="/">Agenda</a>
        <div class="links">
            <ul>
                <% if(user) { %>
                    <li>
                        <a href="/contato/create">Criar contato</a>
                    </li> 
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                <% }else { %>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                <% } %>  
            </ul>
        </div>
    </div>
</nav>