<nav>
    <div class="menu">
        <a href="/">Agenda</a>
        <div class="links">
            <ul>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>