<%- include('includes/head') %> 
<%- include('includes/nav') %> 

    <div class="container">
        <h1 class="error-h">Erro 404</h1>
        <p class="error-p">A página que você procura não existe.</p>
    </div>

<%- include('includes/footer') %> 