<%- include('includes/head') %> 
<%- include('includes/nav') %> 

    <div class="container">
        <h1 class="agenda-h">Agenda</h1>
        <p>Seus contatos estão abaixos.</p>
        
        <%- include('includes/messages') %> 
        
        <div class="table-contacts">
            <table>
                <tr>
                    <td>Kassio</td>
                    <td>Costa</td>
                    <td>0971802979</td>
                    <td>heykassio@live.com</td>
                </tr>
            </table>
        </div>
    </div>

<%- include('includes/footer') %> 